@page
@model EditModel

@{
    ViewData["Title"] = "Edit Appointment";
}

<h1>Edit <small class="text-muted">Appointment</small></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Appointment.Id" />
            <input type="hidden" asp-for="Appointment.PatientId" />
            <input type="hidden" asp-for="Appointment.DoctorId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <select asp-for="Appointment.PatientId" class="form-control" asp-items="Model.Patients"></select>
                <label asp-for="Appointment.PatientId" class="form-label"></label>
                <span asp-validation-for="Appointment.PatientId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Appointment.DoctorId" class="form-control" asp-items="Model.Doctors"></select>
                <label asp-for="Appointment.DoctorId" class="form-label"></label>
                <span asp-validation-for="Appointment.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Appointment.Date" class="form-control" min='@DateTime.Now.ToString("yyyy-MM-dd hh:mm")' />
                <label asp-for="Appointment.Date" class="form-label"></label>
                <span asp-validation-for="Appointment.Date" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Appointment.Status" class="form-control" asp-items="Html.GetEnumSelectList<AppointmentStatus>()"></select>
                <label asp-for="Appointment.Status" class="form-label"></label>
                <span asp-validation-for="Appointment.Status" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
