@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Doctor Appointment 🩺</h1>
    <p class="lead">Online registry for patients who want to make an appointment with their doctor 🧑‍⚕️</p>
    <img src="~/Images/doctor-appointment.png" style="height:50vmin" />
</div>
