@page
@model NotFoundModel
@{
    ViewData["Title"] = "Not Found - Doctor Appointment";
}

<div class="text-center">
    <img src="~/Images/not-found.png" style="height:50vmin;" />
    <h1 class="text-danger">404 Not Found</h1>
    <p class="text-danger">The resource you have been trying to access cannot be found.</p>
</div>
