@model int

<a asp-page="./Edit" asp-route-id="@Model" class="btn btn-outline-success">Edit</a>
<a asp-page="./Details" asp-route-id="@Model" class="btn btn-outline-info">Details</a>
<a asp-page="./Delete" asp-route-id="@Model" class="btn btn-outline-danger">Delete</a>
